<div class="person">

  <div class="name-stack">
        <h2 class="name">Isak Landin</h2>
  </div>

  <div class="contact-image-name">
    <div class="image-and-name">
      <div class="image-stack">
        <img src="{{ url_for('contact.static', filename='person.jpg') }}" alt="Person's Image">
      </div>
    </div>

    <div class="contact">
      <div class="list-container">

        <ul>
          <li class="contact-li-header">
            <h3 class="contact-li-h3">Phone:</h3>
            <p class="contact-li-p">+46735376149</p>
          </li>
          <li class="contact-li-header">
            <h3 class="contact-li-h3">Email:</h3>
            <p class="contact-li-p">utbisalan@gmail.com</p>
          </li>
        </ul>

        <div class="contact-image-header">
          <a target="_blank" href="https://www.linkedin.com/in/isak-landin-375625153/">
            <img class="contact-li-linkedin" src="{{ url_for('static', filename='linkedin.png') }}" alt="LinkedIn Link">
          </a>
          <a target="_blank" href="https://github.com/Isak-Landin">
            <img class="contact-li-github" src="{{ url_for('static', filename='github.png') }}" alt="Github Link">
          </a>
        </div>

      </div>
    </div>
  </div>



  <div class="skills">
    {% include "skill.html" %}
    {% include "skill.html" %}
    {% include "skill.html" %}
  </div>

  <div class="description-div">
    <p class="description-p">Description goes here. Description goes here.</p>
  </div>
  <button class="show-more-button">Show More</button>
</div>