.person {
  margin-top: 2%;
  background-color: #292c2f;
}

.name-stack {
  text-align: center;
}

img,
.image-stack {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.contact-image-name {
  display: flex;
}

.image-and-name {
  padding-left: 2%;
}

.name-stack {
  display: block;
}



.name {
  font-family: 'Poetsen';
  text-transform: uppercase;
  color: #f2faff !important;
}

.image-stack {
  border: 3px solid white;

}

.image-stack:hover {
  box-shadow: 0px 0px 10px 0px #f2faff;
}

.contact {
  display: flex;
  align-items: center;
  margin: auto;
}

.contact-information-list{

}

.list-container {

  display: block;
}

.contact-li-header {

}

.contact-li-h3 {
  color: #f2faff !important;
  margin: 0 !important;
  text-transform: uppercase;
  font-family: 'Poetsen';
}

.contact-li-p {
  color: #f2faff !important;
  text-decoration: none;
  margin-top: 0 !important;
}

.contact-image-header {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.contact-li-linkedin {
  width: 40px;
  height: 40px;

}

.contact-li-github {
  width: 100px;
  height: 40px;
}

.skills {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
  text-align: center;
}

.skill-container {
  display: inline-block;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-left: 1%;
}

.skill-container:hover {
  box-shadow: 0px 0px 50px 0px #fff;
}

.skill-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (min-width: 601px) {
  .person {
    display: inline-block;
    border-radius: 10%;

    overflow: hidden;

    width: 49%;
    min-width: 500px;;
    max-width: 600px;;

    margin-left: 4px;
    box-shadow: 0px 0px 25px 1px #292c2f;
  }



}

@media (max-width: 600px) {
  .person {
    display: block;

    border-radius: 10%;
    box-shadow: 1px 1px 1px 1px;

    overflow: hidden;

    width: 100%;
    min-width: 480px;
    max-width: 600px;

    box-shadow: 1px;
  }
}