.person {
  position: relative;
  margin-top: 2%;
  background-color: #292c2f;
}

.name-stack {
  text-align: center;
}

img,
.image-stack {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.contact-image-name {
  display: flex;
  margin-bottom: 4%;
}

.image-and-name {
  padding-left: 2%;
}

.name-stack {
  display: block;
}



.name {
  font-family: 'Poetsen';
  text-transform: uppercase;
  color: #f2faff !important;
}

.image-stack {
  border: 3px solid white;

}

.image-stack:hover {
  box-shadow: 0px 0px 10px 0px #f2faff;
}

.contact {
  display: flex;
  align-items: center;
  margin: auto;
}

.contact-information-list{

}

.list-container {

  display: block;
}

.contact-li-header {

}

.contact-li-h3 {
  color: #f2faff !important;
  margin: 0 !important;
  text-transform: uppercase;
  font-family: 'Poetsen';
}

.contact-li-p {
  color: #f2faff !important;
  text-decoration: none;
  margin-top: 0 !important;
}

.contact-image-header {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.contact-li-linkedin {
  width: 40px;
  height: 40px;

}

.contact-li-github {
  width: 100px;
  height: 40px;
}

.more {
  display: none;
}

.skills {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
  text-align: center;
}

.skill-container {
  display: inline-block;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-left: 1%;
}

.skill-container:hover {
  box-shadow: 0px 0px 50px 0px #fff;
}

.skill-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.description-container {
  margin-left: 3em;
  margin-right: 3em;
  display: block;
}

.description-text {
  color: white;
}

.show-more-div {
  position: relative;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 100%;
  background: linear-gradient(to bottom, #292c2f, #a0a4a8);
  box-shadow: 0 0 100 100 #000;
}

.show-more-div:hover {
  background: linear-gradient(to bottom, #292c2f, #cdd1d5);
  cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
}

.show-more-div:hover .arrow span {
    animation: animate 3s infinite;
}

.show-more-div:hover .arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.show-more-div .arrow:hover span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@media (min-width: 601px) {
  .person {
    display: inline-table;
    border-radius: 10%;

    overflow: hidden;

    width: 49%;
    min-width: 500px;;
    max-width: 600px;;

    margin-left: 4px;
    box-shadow: 0px 0px 25px 1px #292c2f;
  }



}

@media (max-width: 600px) {
  .person {
    display: block;

    border-radius: 10%;
    box-shadow: 1px 1px 1px 1px;

    overflow: hidden;

    width: 100%;
    min-width: 480px;
    max-width: 600px;

    box-shadow: 1px;
  }
}