@font-face {
  font-family: 'AlfaSlab';
  src: url('/static/webfonts/AlfaSlabOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'AvenueX';
  src: url('/static/webfonts/AvenueX-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Poetsen';
  src: url('/static/webfonts/PoetsenOne-Regular.ttf') format('truetype');
}